image: node:8.11.3

staging:
  stage: deploy
  script:
    - yarn
    - yarn build
    - git add .
    - git config --global user.email "nderitukelvin19@gmail.com"
    - git config --global user.name "CI"
    - git commit -m 'Dev Build...'
    - git push origin dev
  only:
  - dev
