image: node:8.11.3

staging:
  stage: deploy
  script:
    - yarn
    - yarn build
    - mkdir ~/.ssh
    - touch ~/.ssh/id_rsa ~/.ssh/id_rsa.pub
    - echo $SSH_PRIVATE_KEY > ~/.ssh/id_rsa
    - echo $SSH_PUBLIC_KEY > ~/.ssh/id_rsa.pub
    - git checkout master
    - git checkout dev
    - git remote rm origin
    - git remote add origin git@gitlab.com:manuscript/surix/app-service.git
    - git add .
    - git config --global user.email "nderitukelvin19@gmail.com"
    - git config --global user.name "CI"
    - git commit -m 'Production Build...'
    - git push origin dev
  only:
  - dev
