image: node:8.11.3

staging:
  stage: deploy
  script:
    - yarn
    - yarn build
    - mkdir ~/.ssh
    - touch ~/.ssh/known_hosts
    - echo "gitlab.com,35.231.145.151 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFSMqzJeV9rUzU4kWitGjeR4PWSa29SPqJ1fVkhtj3Hw9xjLVXVYrU9QlYWrOLXBpQ6KWjbjTDTdDkoohFzgbEY=" > ~/.ssh/known_hosts
    - git checkout master
    - git checkout dev
    - git remote rm origin
    - git remote add origin git@gitlab.com:manuscript/surix/app-service.git
    - git add .
    - git config --global user.email "nderitukelvin19@gmail.com"
    - git config --global user.name "CI"
    - git commit -m 'Production Build...'
    - git push origin dev
  only:
  - dev
